html,body,h4,p,ul,li{
    padding:0;margin: 0;width:100%;height:100%;list-style: none;
}
body{
    overflow: hidden;
}
header{
    position: fixed;
    width: 100%;
    background: #168bd8;
    top: 0;
    z-index: 10;
}
.header{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    height: 60px;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.header a{
    color: #fff;
    text-decoration: none;
}
.header a:hover{
    color: #67cbff;
}
.logo{
    width:120px;height: 40px;margin-top: 10px;
    background: url("../img/header_z_94c6de7.png") 0 0;
}
.index{
    align-self:flex-end;
    margin-bottom: 10px;
    font-size: 15px;
    padding: 0 15px;
}
.last{
    align-self:flex-end;
    margin-bottom: 10px;
    font-size: 12px;
}
.index:nth-of-type(2){
    margin-left: 60px;
}
.last:nth-of-type(5){
    margin-left: 220px;
}
.last:nth-of-type(5)>i{
    display: inline-block;
    width: 32px;
    height:25px;
    background: url("../img/header_z_94c6de7.png") -88px -154px;
}
.last:nth-of-type(8){
    color: #FFDA28;
}
.max{
    display: none;
}
.menu{
    position: absolute;
    top:60px;width:100%;
    /*transform-style: preserve-3d;*/
}
.menu-option{
    width: 40px;
    height:40px;position: absolute;
    top:10px;
    right:0;
}

.menu-option-tline{
    width: 30px;height: 2px;background: #fff;
    position: absolute;
    top:12px;
    transition: transform 0.5s ease;
}
.menu-option-bline{
    width: 30px;height: 2px;background: #fff;
    position: absolute;
    bottom:12px;
    transition: transform 0.5s ease;
}
.menu a{
    display: block;
    margin: 0;
    width:100%;background: #168bd8;
    line-height: 40px;
    text-align: center;
    opacity: 0;
}
@keyframes menu {
    0%{
        opacity:0;transform: rotateX(90deg);
    }
    100%{
        opacity:1;transform: rotateX(0deg);
    }
}
@keyframes menu1 {
    0%{
        opacity:1;transform: rotateX(0deg);
    }
    100%{
        opacity:0;transform: rotateX(90deg);
    }
}
@media screen and (min-width:800px) {
    .max{
        display: flex;
    }
    .min{
        display: none;
    }
}
#fullpage{
    width: 100%;  height:100%;

}
#fullpage>section{
    width: 100%;  height:100%;    position: relative;
}
#fullpage>section:nth-child(1){
    background: url("../img/bg-0_c25cb21.jpg");
}
#fullpage>section:nth-child(2){
    background: url("../img/bg-1_e29bcfa.jpg");
}
#fullpage>section:nth-child(3){
    background: url("../img/bg-2_867b7b4.jpg");
}
#fullpage>section:nth-child(4){
    background: url("../img/2Q==.jpg");
}
.cloud1{
    background: url("../img/cloud_1_1d4924b.png") repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000px;
    animation: cloudmove 100s linear infinite;
}
@keyframes cloudmove{
    0% {
        background-position: 2000px 0;
    }
    50% {
    background-position: 0 0;
    }
    100% {
        background-position: -2000px 0;
    }
}
.cloud2{
    background: url("../img/cloud_2_a186193.png") repeat;
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    height: 400px;
    animation: cloudmove 100s linear infinite;
}
.cloud3{
    background: url("../img/cloud_3_5ee0340.png") repeat;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    animation: cloudmove 100s linear infinite;
}
.page1-bottom{
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: 126px;
    background: #0d71cd url("../img/bg-1_e29bcfa.jpg");
}
.hill1{
    position: absolute;
    /*left: -182px;*/
    top: -50px;
    background: url("../img/hill_1_0d79217.png") no-repeat;
    width: 265px;
    height: 175px;
}
.hill2{
    position: absolute;
    width: 63px;
    height: 78px;
    right: 450px;
    top: -13px;
    background: url("../img/hill_2_540422f.png") no-repeat;
}
.hill3{
    position: absolute;
    width: 260px;
    height: 175px;
    right: 50px;
    top: -47px;
    background: url("../img/hill_3_ace39fb.png") no-repeat;
}
.ship{
    position: absolute;
    width: 242px;
    height: 228px;
    left: 350px;
    top: -191px;
    background: url("../img/ship_1ad6734.png") no-repeat;
}
.font{
    position: absolute;
    width: 501px;
    height: 158px;
    background: url(../img/launch_deea86c.png);
    left: 183px;
    top: -400px;
}
.flight{
    position: absolute;
    right: 80px;
    top: -10px;
    width: 119px;
    height: 78px;
    background: url(../img/flight_ade8ee2.png);
    animation: flight 3s infinite;
}
@keyframes flight {
    0% {
        top: -10px;
    }
    40% {
        top: -20px;
    }
    100% {
        top: -10px;
    }
}

.login{
    height: 300px;
    width: 340px;
    border-radius: 5px;
    background: #4ebffc;
    position: absolute;
    right: 12%;
    top:110px;    padding: 0 20px;
    box-sizing: border-box;
}
.login form{
    padding-top: 26px;

}
.user,.pass{
    width: 299px;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #bdc7d3;
    height: 40px;
    background: #fff;
}
.user>input,.pass>input{
    width: 252px;
    border: 0;
    outline: none;
    padding: 9px;
    color: #666;
}
.user>span{
    display: inline-block;
    background: url(../img/icons.png?20140305) no-repeat -124px -12px;
    width: 14px;
    height: 14px;
    margin: 12px 3px 0 10px;
}
.pass>span{
    display: inline-block;
    background: url(../img/icons.png?20140305) no-repeat -140px -12px;
    width: 14px;
    height: 14px;
    margin: 12px 3px 0 10px;
}
.error{
    color: red;
    height: 20px;
    line-height: 20px;
    vertical-align: top;
    visibility: hidden;
    font-size: 13px;
    max-width: 270px;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    display: block;
    margin: 0;
    text-align: left;
}
.toke{
    height:36px;
}
.toke>input{
    border: 0;
    outline: none;
    border: 1px solid #bdc7d3;
    padding: 9px;
    width: 122px;
    background: #fff;
    color: #666;
    float: left;
}
.toke>img{
    width: 99px;
    margin-left: 10px;
    height: 36px;
    float: left;
}
.toke>a{
    color: #fff;
    margin: 10px 0 0 15px;
    font-size: 12px;
    float: left;
    text-decoration: none;
    cursor: pointer;
}
.toke>a:hover{
    color: #2e7ecd;
}
.login-sub>input{
    border: 0;
    background: #ffd850;
    color: #5c4c12;
    border-radius: 2px;
    width: 299px;
    margin-top: 12px;
    display: block;
    padding: 0 10px;
    font-size: 18px;
    line-height: 35px;
    text-align: center;
    vertical-align: middle;
}
.other{
    margin: 12px 0 8px;
    font-size: 12px;
    color: #9dbcdb;
}
.other a{
    color: #fff;
    text-decoration: none;
    line-height: 17px;
}
.left a{
    margin-top: -5px;
}
.left{
    float: left;
}
.right{
    float: right;
}
.left>span{
    display: block;
    float: left;
    width: 15px;
    height: 17px;
    background: url(../img/icons.png?20140305) no-repeat -203px -75px;
    margin: 2px 4px 0 0;
}

.center{
    width:75%;
    margin: 0 auto;
    position: relative;
}
.con-wrap{
    position: absolute;
    left: 0;
    top: 0;
    font-family: 'Microsoft Yahei';
    color: #fff;
    width: 500px;
}
.center .title{
    background: url(../img/h_lingxian_221f2d8.png) no-repeat;
    width: 66px;
    height: 126px;
    float: left;
    position: absolute;
    top:200px;
    left: 20px;
    animation: y-ain 2s infinite;
    transform-style: preserve-3d;
}
@keyframes y-ain {
    0% {
        transform: rotateY(0);
    }
    40% {
        transform: rotateY(0);
    }
    100% {
        transform: rotateY(360deg);
    }
}
.content{
    position: absolute;left: 106px;
    top:208px;
}
.content h4{
    font-size: 34px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 48px;
}
.content p{
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 32px;
    opacity: .8;
    margin-bottom: 0;
}
.tree{
    position: absolute;
    visibility: visible;
    right: 26px;
    opacity: 1;
    width: 444px;
    height: 427px;
    background: url(../img/brain_36a156f.png);
    top: 100px;
}
.page2-bottom{
    position: absolute;
    width: 75%;
    margin: 0 auto;
    left: 0;right: 0;
    bottom: 0;
}
.square{
    bottom: 0;
    position: absolute;
    display: block;
    width: 88px;height: 88px;
}
.square-1{
    background: #35b568;
    left: 70px;
    width: 44px;
    height: 44px;
}
.square-2{
    background: #4ac179;
    left: 158px;
    width: 88px;height: 88px;
}
.square-3{
    background: #8ae75a;
    left: 246px;
    width: 44px;
    height: 44px;
}
.square-4{
    background: #8ae75a;
    right: 328px;
    width: 44px;
    height: 44px;
}
.square-5{
    background: #4ac179;
    right: 240px;
    width: 44px;
    height: 44px;
}
.page3-bottom{
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    height: 138px;
    background: url("../img/bg-3-head_b8a3f7f.png");
}
section:nth-child(3) .title{
    background: url("../img/h_quanmian_8f813d2.png");
}
section:nth-child(3) .tree{
    width: 444px;
    height: 330px;
    top:200px;
    background: url("../img/allside_e8abd12.png");
}
section:nth-child(3) .top{
    width: 75%;margin: 0 auto;position: absolute;
    left:0;
    right:0;
}
.top .square{
    width: 88px;
    height:88px;
}
.top .square-1{
    background: #33bb9a;
    left: 70px;
    top: 60px;
}
.top .square-2{
    background: #29a2b8;
    left: -18px;
    top: 148px;
}
.top .square-3{
    background: #60cf6e;
    left: 158px;
    top: 148px;
}
.top .square-4{
    background: #8ae75a;
    left: 70px;
    top: 236px;
    width: 176px;
    height: 176px;
    background-image: url(../img/square_c776382.jpg);
}
.top .square-5{
    background: #33bb9a;
    left: 246px;
    top: 236px;
}
section:nth-child(4) .title{
    left: 100px;
    background: url("../img/h_zhuanye_256a94d.png") no-repeat;
}
section:nth-child(4)  .content{
    position: absolute;left: 186px;
    top:208px;
}
section:nth-child(4) .tree{
    width: 603px;
    height: 361px;
    top:150px;right: 70px;
    background: url("../img/stat_8934528.png");
}
section:nth-child(4) .top{
    position: absolute;
    top:120px;
    left: 210px;
    width: 275px;
    height: 245px;
    background: url(../img/bubble_3b0f897.png);
}


.btn-wrap{
    color: rgb(0, 0, 0);
    margin-top: -43.5px;
    right: 17px;
    opacity: .5;
    position: fixed;
    z-index: 100;
    top: 50%;
}
.btn-wrap li{
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position: relative;
}
.btn-wrap li a{
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
.btn-wrap li a span{
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    border: 1px solid #000;
    background: rgba(0,0,0,0);
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    box-sizing: content-box;
}
.bottom-btn{
    display: block;
    width: 30px;
    height: 26px;
    background: url(../img/arrow_aad9b25.png);
    position: absolute;
    left: 0;
    right:0;margin:0 auto;
    bottom:42px;
    animation: arrowGo 1s infinite steps(10,end);
}
@keyframes arrowGo {
    0% {
        opacity: 1;
        transform-origin: center center;
        transform: translate(-50%,0);
        bottom: 42px;
    }
    50% {
        opacity: .5;
        transform-origin: center center;
        transform: translate(-50%,0);
        bottom: 36px;
    }
    100% {
        opacity: 1;
        transform-origin: center center;
        transform: translate(-50%,0);
        bottom: 42px;
    }
}